:root {
  font-family: "M PLUS 1P", sans-serif;
  color-scheme: light dark;
  color: #1a1a1a;
  background-color: #FFFFFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, router-link, input, textarea {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 6px;
  background-color: #006aeb;
  color: #FFFFFF;
  font-weight: bold;
  transition: background-color 0.2s ease;
}
/* button が使えない場合 */
button:disabled {
  cursor: default; 
  background-color: #cccccc;
  font-weight: bold;
  color: #666666;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

#app {
  max-width: 360px;
  margin: 0 auto;
  /* text-align: center; */
}